body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1caae257;
    height: 100vh;
}

.preload * {
    transition: none !important;
}

.card-login {
    position: relative;
    background-color: white;
    display: flex;
    width: 1100px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.login-form {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    transition-delay: 0.8s;
}

.card-login.swapped .login-form {
    transform: translateX(200px);
    opacity: 0;
    visibility: hidden;
}

.login-form .title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.register-form {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    transition-delay: 0.8s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
}

.card-login.swapped .register-form {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.register-form .title {
    font-size: 1.6rem;
    font-weight: 800;
}

.daftar-sebagai {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.daftar-sebagai span {
    font-size: 0.9rem;
    font-weight: 600;
}

.pilihan-role {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pilihan-role .pilihan {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0071bc0d;
    border: 1px solid gray;
    border-radius: 10px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pilihan-role .pilihan:hover {
    background-color: #0071bc11;
    color: #1cabe2;
    border-color: #1cabe2;
}

.pilihan-role .pilihan.terpilih {
    background-color: #1caae247;
    color: #1cabe2;
    border-color: #1cabe2;
}

.pilihan-role .pilihan span {
    font-size: 0.8rem;
    font-weight: 600;
}

.register-form .nama-instansi {
    display: none;
}

.register-form.eo .nama-instansi {
    display: flex;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row-input {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input label {
    font-weight: 600;
    font-size: 0.9rem;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.input-field .icon-field {
    position: absolute;
    left: 13px;
}

.input-field input {
    width: 100%;
    padding: 12px;
    padding-left: 38px;
    border-radius: 10px;
    border: 1px solid gray;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.remember-forgot a {
    color: #1cabe2;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

.password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit-button {
    margin-top: 15px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    background-color: #1cabe2;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: center;
}

.submit-button:hover {
    background-color: #0071bc;
}

.kotak-biru {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #1cabe2, #0071bc);
    border-radius: 50px 20px 20px 50px;
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 30px;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in;
    transition-delay: 0.5s;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
}

.card-login.swapped .left-content {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.right-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 30px;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in;
    transition-delay: 0.5s;
    z-index: 100;
}

.card-login.swapped .right-content {
    transform: translateX(200px);
    opacity: 0;
    visibility: hidden;
}

.right-content .text-title,
.left-content .text-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-content .title,
.left-content .title {
    font-size: 1.5rem;
    font-weight: 800;
}

.right-content p,
.left-content p {
    font-size: 0.85rem;
}

.swap-button {
    background-color: transparent;
    color: white;
    padding: 10px 50px;
    border: 3px solid white;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.swap-button:hover {
    background-color: white;
    color: #1cabe2;
}

.card-login .kotak-biru.swapped {
    left: 0;
    width: 50%;
    border-radius: 20px 50px 50px 20px;
}

.card-login.animated-left .kotak-biru {
    animation: swapKiri 1.4s forwards ease-in-out;
}

.card-login.animated-right .kotak-biru {
    animation: swapKanan 1.4s forwards ease-in-out;
}

@keyframes swapKiri {
    0% {
        left: 50%;
        width: 50%;
    }

    50% {
        left: 0%;
        width: 100%;
        border-radius: 20px;
    }

    100% {
        left: 0%;
        width: 50%;
        border-radius: 20px 50px 50px 20px;
    }
}

@keyframes swapKanan {
    0% {
        left: 0%;
        width: 50%;
    }

    50% {
        left: 0%;
        width: 100%;
        border-radius: 20px;
    }

    100% {
        left: 50%;
        width: 50%;
        border-radius: 50px 20px 20px 50px;
    }
}

.notifikasi {
    position: fixed;
    top: 30px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
    opacity: 0;
    visibility: hidden;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000;
    border-left: 5px solid red;
    color: red;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.notifikasi.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px) translateX(-50%);
}

.notifikasi .icon-notif {
    width: 1.5rem;
    height: 1.5rem;
}

.notifikasi .notif-message {
    font-size: 0.8rem;
    font-weight: 600;
}