body {
    display: flex;
    justify-content: flex-start;
    background-color: #f4f9ff;
}

section {
    display: flex;
    flex: 1;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
    background: linear-gradient(to right, #1caae2, #0071bc);
    border-radius: 20px;
    color: #fff;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.welcome-text span:nth-child(1) {
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #ffffffd7;
    font-weight: 600;
}

.welcome-text span:nth-child(2) {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.welcome-text span:nth-child(3) {
    font-size: 0.85rem;
    color: #ffffffd2;
}

.header a {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #1caae2;
    font-weight: 600;
    height: fit-content;
    padding: 10px 20px;
}

.header a .icon {
    width: 1.2rem;
    height: 1.2rem;
    color: #1caae2;
}

.ringkasan-total {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ringkasan-total .total-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    padding: 30px 25px;
    background-color: #ffffff;
}

.ringkasan-total .total-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    padding: 15px;
    border-radius: 15px;
    background-color: #1caae21c;
    color: #1caae2;
}

.ringkasan-total .total-item:nth-child(2) .icon {
    background-color: #ffc20e1c;
    color: #ffc20e;
}

.ringkasan-total .total-item:nth-child(3) .icon {
    background-color: #10B9811c;
    color: #10B981;
}

.total-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.total-info span:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 700;
}

.total-info span:nth-child(2) {
    font-size: 0.85rem;
    color: gray;
}

.event-terbaru {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 25px;
}

.event-terbaru .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-terbaru .header-content span {
    font-size: 1.2rem;
    font-weight: 700;
}

.event-terbaru .header-content a {
    text-decoration: none;
    color: #1caae2;
    font-weight: 600;
    font-size: 0.8rem;
}

.list-event {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-event hr {
    border: none;
    border-top: 1px solid #e5e7eb;
}

.event-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-item .img-and-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.event-item img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 10px;
}

.event-item .event-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.event-item .event-info span:nth-child(1) {
    font-weight: 700;
    font-size: 1rem;
}

.event-item .event-info span:nth-child(2) {
    font-size: 0.85rem;
    color: gray;
}


.event-item .status {
    padding: 7px 0;
    border-radius: 20px;
    font-size: 0.625rem;
    font-weight: 600;
    width: 80px;
    text-align: center;
}

.event-item .status.pending {
    background-color: #ffc20e1c;
    color: #ffc20e;
}

.event-item .status.published {
    background-color: #10B9811c;
    color: #10B981;
}

.event-item .status.rejected {
    background-color: #EF44441c;
    color: #EF4444;
}