body {
    display: flex;
    justify-content: flex-start;
    background-color: #f4f9ff;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    padding: 25px;
    justify-content: space-between;
    width: 275px;
}

.top-navbar {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #1caae2;
}

.logo span {
    font-weight: 800;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.menu span {
    color: gray;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.menu-utama,
.menu-pendaftar {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-pendaftar {
    margin-top: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #1caae21c;
}

.icon-menu {
    color: gray;
    width: 1.2rem;
    height: 1.2rem;
}

.menu-item.active {
    background: linear-gradient(to right, #1caae2, #0071bc);
}

.menu-item.active .icon-menu {
    color: white;
}

.menu-item.active {
    font-weight: 700;
    color: white;
}

.bottom-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.akun {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.profile-akun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: #1caae2;
    color: #fff;
}

.info-akun {
    display: flex;
    flex-direction: column;
}

.info-akun span:nth-child(1) {
    font-weight: 600;
}

.info-akun span:nth-child(2) {
    color: gray;
    font-size: 0.9rem;
}

.logout a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: red;
    font-size: 1rem;
    transition: 0.3s;
}

.logout a:hover {
    background-color: #ff00001c;
}

/* --------------------------------------------------------------------- */
section {
    display: flex;
    flex: 1;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-title span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;
}

.header-title span:nth-child(2) {
    font-size: 1rem;
    color: gray;
}

.form-event, .form-pendaftaran {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
}

.form-event span, .form-pendaftaran span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}

.detail-form-event {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-row {
    display: flex;
    gap: 25px;
}

.input-group-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}

.form-event input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
}

.form-event input:focus {
    border: 1px solid #1caae2;
}

.form-event select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
}

.form-event select:focus {
    border: 1px solid #1caae2;
}

.form-event textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    resize: vertical;
    min-height: 100px;
}

.form-event textarea:focus {
    border: 1px solid #1caae2;
}

.form-event input[id="gambar"] {
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 0.85rem;
    cursor: pointer;
    padding: 6px;
}

.form-event label {
    font-weight: 600;
    color: #333;
    font-size: 0.85rem;
}

.detail-form-pendaftaran {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header-pendaftaran {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-pendaftaran span:nth-child(2) {
    font-size: 1rem;
    color: gray;
}

.input-group-pendaftaran {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f9ff;
    padding: 25px;
    border-radius: 15px;
}

.row-pertanyaan {
    display: flex;
    gap: 15px;
}

.row-pertanyaan input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
}

.row-pertanyaan select {
    width: 175px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
}

.opsi {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.opsi .icon {
    width: 2rem;
    height: 2rem;
    color: red;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
}

.opsi .icon:hover {
    background-color: #ff00001c;
}

.wajib-diisi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wajib-diisi label {
    font-size: 0.85rem;
    font-weight: 600;
    color: #333;
}

.tambah-pertanyaan {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    border: 1px dashed gray;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s ease;
}

.tambah-pertanyaan .icon {
    width: 1rem;
    height: 1rem;
}

.tambah-pertanyaan:hover {
    border-color: #1caae2;
    background-color: #f4f9ff;
    color: #1caae2;
}

.button-submit {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-submit button,
.button-submit a {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.button-submit a {
    color: #000;
    background-color: transparent;
}

.button-submit button {
    background-color: #1caae2;
    color: white;
}

.button-submit button:hover {
    opacity: 0.8;
}