* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: #1caae2;
}

input {
    border: 1px solid gray;
}

input:focus {
    border: 1px solid #1caae2;
}