.eventify-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.eventify-logo img{
    width: 40px !important;
    height: 40px !important;
    object-fit: cover;
}

.eventify-logo span{
    font-size: 32px;
    font-weight: 700;
    color: #1DA1F2;
}